.div {
  width: 420px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid #ccc;
}

.line-wrapper {
  width: 302px;
  height: 3px;
  margin: 0 10px;
  background: #ccc;
  overflow: hidden;
}

.line {
  width: 302px;
  height: 3px;
  background: red;
  transform: translateX(-100%);
}