.carousel ul,
.carousel li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.carousel{
  position:relative;
  width: 320px;
  height: 180px;
  overflow: hidden;
}
.carousel .img-ct{
  position: absolute;
  overflow: hidden;
}
.carousel .img-ct li{
  display: none;
}
.carousel .img-ct img{
  width: 320px;
  height: 180px;
}
.carousel .arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  color: #fff;
  background-color: #333;
  opacity: 0.7;
}
.carousel .arrow:hover{
  opacity: 1;
}
.carousel .pre{
  left: 10px;
}
.carousel .next{
  right: 10px;
}
.carousel .bullet{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 0;
}
.carousel .bullet li{
  display: inline-block;
  margin: 0 3px;
  width: 20px;
  height: 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.carousel .bullet li.active{
  background-color: #aaa;
}